<h1>Productos Online</h1>
<div>
    <form id="form">
        <input type="text" id="title" name="title" placeholder="product title"/><br/><br/>
        <input type="text" id="description" name="description" placeholder="description"/><br/><br/>
        <input type="text" id="price" name="price" placeholder="price"/><br/><br/>
        <input type="text" id="code" name="code" placeholder="code"/><br/><br/>
        <input type="text" id="stock" name="stock" placeholder="stock"/><br/><br/>
        <input type="text" id="category" name="category" placeholder="category"/><br/><br/>
        <input type="text" id="url" name="url" placeholder="url"/><br/><br/>
        
        <button type="submit">Send</button>
    </form>
</div>
<div>
    <p id="products_list"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>